@charset "UTF-8";

.heart {
  width: 80px;
  height: 80px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}


.placement {
  position: relative;
  z-index: 10;
  top: 50%;
  left: 50%;
  /*transform: translate(-50%, -50%);*/
}