body {
	font-family: "DM Sans", sans-serif;
}

.write-map-Btn {
	background-color: #6667AB;
	border: none;
	color: #fff;
	border-radius: 10px;
	padding: 8px;
	font-size: 13px;
	line-height: 20px;
	width: 145px;
	text-align: center;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: -5px;
	margin-right: 0px;
	display:block; 
	z-index: 0;
}

#write-map-Btn-Div{
	display: inline;
}

.writeUpload{
	font-family: "DM Sans", sans-serif;
	background-color: #6667AB;
	border: none;
	color: #fff;
	border-radius: 10px;
	font-size: 12px;
	line-height: 20px;
	margin: 0 auto;
	height: 40px;
	width: 80px;
}

.writeCancel{
	font-family: "DM Sans", sans-serif;
	background-color: #7d7d7d;
	border: none;
	color: #fff;
	border-radius: 10px;
	font-size: 12px;
	line-height: 20px;
	margin: 0 auto;
	height: 40px;
	width: 80px;
}

.row justify-content-md-center{
	text-align: center;	
	margin-top: 50px;
}


/* ---------------셀렉트 박스----------------- */
select {
	width: 100%;
	height: 20px;
	border: 1px solid #999;
	font-family: inherit;
	background: url('arrow.jpg') no-repeat 95% 50%;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
}

select::-ms-expand {
	    display: none;
}