@charset "UTF-8";

#postListTbl {
	font-size: 12pt;
}

.postTbl {
	color: black;
	font-weight: 600;
}

.postList {
	color: #717171;
}

.postTitle {
	text-decoration: none;	
}

.postTitle > a {
	color: black;
}