@charset "UTF-8";

/* Main Slider */

.slick-slide {
	
}
.home_container {
	height: 2000px;
	width: 100%;
	/* background-image: url("../../resources/sej_img/back2.jpg"); */
}
.main_slider {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.slick-track {
	width: 1200px;
	height: 500px;
}
.slick-slider img {
/* 	width: 1200px;
	height: 500px; */
	width: 100%;
    height: 500px;
    object-fit: fill;
    object-position: center;
	border-radius: 10px;
}
.slick-prev, .slick-next {
	visibility: hidden;
}
.slick-dotted.slick-slider
{
    margin-bottom: 100px;
}

.slick-dots
{
    position: absolute;
    bottom: -2px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 40px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/* 반응형 설정 부분 */
/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
  .swiper-container 
{
	width: 1200px;
	overflow: visible;
}
.second_slider_title {
	text-align: left;
	font-family: 'GangwonEdu_OTFBoldA';
	font-size: 30px;
	font-weight: 500;
	color: black;
	margin-bottom: 15px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.JPsecond_slider_title {
	text-align: left;
	font-family: 'Montserrat';
	font-size: 28px;
	font-weight: 600;
	color: black;
	margin-bottom: 15px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.second_slider_title_border {
	border-top: 5px dashed #FFDE59;
	width: 910px;
	display: block;
	position: relative;
	top: -20px;
	left: 290px;
}
.swiper-container img {
    width: 100%;
    height: 300px;
    object-fit: fill;
    object-position: center;
    border-radius: 5px;
    box-shadow: 3px 2px 5px #c5c5c5;
    transition: transform 0.3s;
}

} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
	
   .main_slider {
	width: 1010px;
	margin-left: auto;
	margin-right: auto;
}
.swiper-container 
{
	width: 920px;
	overflow: visible;
}
.second_slider_title {
	text-align: left;
	font-family: 'GangwonEdu_OTFBoldA';
	font-size: 30px;
	font-weight: 500;
	color: black;
	margin-bottom: 15px;
	width: 1023px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 30px;
}
.JPsecond_slider_title {
	text-align: left;
	font-family: 'Montserrat';
	font-size: 28px;
	font-weight: 600;
	color: black;
	margin-bottom: 15px;
	width: 1023px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 30px;
}
.second_slider_title_border {
	border-top: 5px dashed #FFDE59;
	width: 665px;
	display: block;
	position: relative;
	top: -20px;
	left: 290px;
}
.swiper-container img {
    width: 100%;
    height: 400px;
    object-fit: fill;
    object-position: center;
    border-radius: 5px;
    box-shadow: 3px 2px 5px #c5c5c5;
    transition: transform 0.3s;
}

} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
  .main_slider {
	width: 767px;
	margin-left: auto;
	margin-right: auto;
}
.swiper-container 
{
	width: 767px;
	overflow: visible;
}
.second_slider_title {
	text-align: left;
	font-family: 'GangwonEdu_OTFBoldA';
	font-size: 30px;
	font-weight: 500;
	color: black;
	margin-bottom: 15px;
	width: 767px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 30px;
}
.JPsecond_slider_title {
	text-align: left;
	font-family: 'Montserrat';
	font-size: 28px;
	font-weight: 600;
	color: black;
	margin-bottom: 15px;
	width: 767px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-left: 30px;
}

.second_slider_title_border {
	border-top: 5px dashed #FFDE59;
	width: 420px;
	display: block;
	position: relative;
	top: -20px;
	left: 290px;
}
.swiper-container img {
    width: 100%;
    height: 400px;
    object-fit: fill;
    object-position: center;
    border-radius: 5px;
    box-shadow: 3px 2px 5px #c5c5c5;
    transition: transform 0.3s;
}

}


/* Second slider */

/* .second_slider_title {
	text-align: left;
	font-family: 'GangwonEdu_OTFBoldA';
	font-size: 30px;
	font-weight: 500;
	color: black;
	margin-bottom: 15px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
} */
.second_slider_title_img {
	width: 50px;
	height: 50px;
	position: relative;
	top: 15px;
	left: -10px;
}
/* .second_slider_title_border {
	border-top: 5px dashed #FFDE59;
	width: 910px;
	display: block;
	position: relative;
	top: -20px;
	left: 290px;
} */
/* .swiper-container 
{
	width: 1200px;
	overflow: visible;
} */
.swiper-slide 
{
	opacity:0.4; transition:opacity 0.3s;
	overflow: hidden;
}
.swiper-slide-active,
.swiper-slide-active + .swiper-slide,
.swiper-slide-active + .swiper-slide + .swiper-slide,
.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide 
{
	opacity:1
}
/* .swiper-container img {
    width: 100%;
    height: 300px;
    object-fit: fill;
    object-position: center;
    border-radius: 5px;
    box-shadow: 3px 2px 5px #c5c5c5;
    transition: transform 0.3s;
} */
.swiper-slide img:hover {
   transform: scale(1.2);
  -webkit-transform: scale(1.2); /* 크롬, 사파리 */
  -moz-transform: scale(1.2);  /* 파이어폭스 */
  -ms-transform: scale(1.2); /* IE */
  -o-transform: scale(1.2);  /* 오페라 */
  transition: transform 0.3s;
  cursor: pointer;
}
.swiper-button-next {
  background: url(resources/sej_img/slider/free-icon-right.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
}

.swiper-button-prev {
  background: url(resources/sej_img/slider/free-icon-right.png) no-repeat;
} 

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev