/* 앨범 리스트 ----------------------------------------------------------- */
.album-list {
  width: 100%;
  min-width: 400px;
  max-width: 500px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding-left: 0;
}

.album-list::after {
  content: '';
  display: block;
  clear: both;
}

@media (max-width: 1199px) {
  .album-list {
    width: 500px;
  }
}

@media (max-width: 799px) {
  .album-list {
    width: 400px;
  }
}


/* 앨범 카드 ------------------------------------------------------------- */
.album-card {
  cursor: pointer;
  float: left;
  width: 200px;
  height: 60px;
  margin-top: -200px;
  margin-left: -100px;
  transition: box-shadow 0.3s ease-in-out;
}

.album-card * {
  width: inherit;
  height: inherit;
  transition: all 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.5s;
}


/* 앨범 커버 ------------------------------------------------------------- */ 
.album-cover {
  display: none;
}


/* 앨범 플레이어 ---------------------------------------------------------- */
.album-player {
  width: 300px;
  height: 300px;
  border: none;
}

/*
 * CSS 3D 트랜스폼(Transforms)
 * 
 * <트랜스폼을 적용할 요소에 적용 하는 속성>
 *
 * transform-origin
 * backface-visibility
 *
 * rotateX()
 * rotateY()
 * rotateZ()
 * rotate3d()
 * 
 * translateX()
 * translateY()
 * translateZ()
 * translate3d()
 *
 * scaleX()
 * scaleY()
 * scaleZ()
 * scale3d()
 *
 * skewX()
 * skewY()
 * skew()
 * 
 * <자식 요소를 3D 처리할 부모 요소에 설정>
 *
 * perspective
 * perspective-origin
 * transform-style: preserve-3d (요소의 자식이 3D 공간에 배치)
 *
 */