* {
  box-sizing: border-box;
  outline: none;
}

body {
  display: flex;
  align-items: center;
}

/*ICONS*/
body {
  margin: 0;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  /* background: linear-gradient(to top, #be93c5, #7bc6cc); *//*배경 색깔*/
  background: linear-gradient(to top, #FFDE59, #5D5FB2); /*배경 색깔*/
}

@media screen and (max-width: 900px) {
  body {
    padding: 0;
  }
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease-in;
}

a {
  text-decoration: none;
}

input[type=text] {
  border: none;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(216, 216, 216, 0.5);
  border-radius: 10px;
}

.app-wrapper {
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016), 0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024), 0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
  display: flex;
}
@media screen and (max-width: 900px) {
  .app-wrapper {
    border-radius: none;
  }
}

.left-area {
  width: 190px;
  
  transition: all 0.6s linear;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
  
}

@media screen and (max-width: 900px) {
  .left-area {
    position: absolute;
    background-color: #fff;
    z-index: 2;
    left: 0;
    opacity: 1;
    box-shadow: 4px 0px 4px 0px rgba(222, 222, 222, 0.3);
    border-right: none;
  }
}

.app-header {
  border-bottom: 1px solid #ddd;
  position: relative;
}
.app-header .close-menu {
  display: none;
  position: absolute;
  top: 8px;
  right: 0;
}
@media screen and (max-width: 900px) {
  .app-header .close-menu {
    display: block;
  }
}

.inner-text {
  color: #adadad;
}

.profile {
  display: flex;
  /* align-items: flex-start; */
  cursor: pointer;
  padding: 20px;
  
}
.profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
  
}
.profile span {
  display: inline;
  line-height: 20px;
}

/* details > summary {
}

details > summary::-webkit-details-marker {
	display: none;
	list-style: square;
} */

.profile .profile-name {
  color: #232428;
  font-weight: 500;
  font-size: 15pt;
  padding-right: 16px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 16px;
}


details > summary::maker{
	display: none;
}

.item-link {
  display: block;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #adadad;
  transition: all 0.2s ease-in;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  
}
.item-link:not(:first-of-type) {
  margin-top: 10px;
}
.item-link.active {
  color: #white;
  background-color: #787878;
}
.item-link:not(.active):hover {
  color: white;
  background-color: #C3C3C3;
}
.item-link .link-icon {
  width: 16px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 4px;
}

.list-header {
  font-size: 15px;
  color: #adadad;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 10px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-color: #f8f8f8;
}
.list-header svg {
  transition: all 0.2s ease-in;
}
.list-header span {
  display: block;
  font-weight: 500;
}
.list-header:hover svg {
  transition: all 0.2s ease-in;
  fill: #adadad;
}
.list-header:hover svg line {
  stroke: #fff;
}

.btn-invite {
  background-color: #7d7d7d;
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 8px;
  font-size: 13px;
  line-height: 20px;
  width: 100%;
  max-width: 160px;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
  margin-bottom: -15px;
}

.btn-invite:hover {
  background-color: #000000;
}

.left-area-content {
  flex: 2;
  overflow: auto;
}

.right-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100% - 190px);
}
@media screen and (max-width: 900px) {
  .right-area {
    max-width: 100%;
  }
}

.right-area-upper {
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: flex;
  max-height: 64px;
  padding: 0 20px;
}
.right-area-upper .menu-button {
  display: none;
}
@media screen and (max-width: 900px) {
  .right-area-upper .menu-button {
    display: block;
  }
}
@media screen and (max-width: 520px) {
  .right-area-upper {
    padding: 0 10px;
  }
}

.search-input {
  flex: 1;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #adadad;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%23adadad' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cpath d='M21 21l-4.35-4.35'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center left 0px;
  padding: 10px 10px 10px 24px;
}

.search-part-wrapper {
  position: relative;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  flex: 1;
}
.search-part-wrapper a {
  color: #232428;
  font-size: 14px;
  font-weight: 500;
}
.search-part-wrapper a + a {
  margin-left: 10px;
}

.more-menu-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 2px rgba(209, 209, 209, 0.4);
  padding: 10px 0;
  transform-origin: center;
}
.more-menu-list.hide {
  display: none;
}
.more-menu-list:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: rotate(45deg);
  border-radius: 2px;
  top: -6px;
  right: 32px;
  box-shadow: 0px 0px 4px 0px rgba(209, 209, 209, 0.4);
}
.more-menu-list li {
  padding: 8px 20px;
  list-style-type: none;
  cursor: pointer;
}
.more-menu-list li:hover {
  background-color: #f3f8f6;
}

.btn-notification {
  position: relative;
  display: block;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
  padding: 0 20px;
}
.btn-notification span {
  position: absolute;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px;
  width: 14px;
  height: 14px;
  right: 18px;
  top: 18px;
  font-size: 10px;
}

.action-buttons {
  border-radius: 2px;
  padding: 10px 24px 10px 24px;
  font-size: 12px;
  color: #51a380;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center left 16px;
  max-height: 36px;
}

.btn-upload {
  color: #fff;
  background-color: #7d7d7d;
  border-radius: 10px;
}

.btn-upload:hover {
  background-color: #000000;
}

.action-buttons-wrapper {
  padding: 0 2px;
  align-items: center;
  display: flex;
}

.page-right-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

/* .content-line {
  width: 100%;
  position: relative;
}
.content-line + .content-line {
  margin-top: 24px;
  transition: 0.2s;
} */



.content-line-hero .owl-dots {
  position: absolute;
  z-index: 12;
  left: 50%;
  transform: translatex(-50%);
  bottom: 24px;
}
.content-line-hero .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 2px;
  opacity: 0.5;
  padding: 0;
}
.content-line-hero .owl-dots .owl-dot.active {
  opacity: 1;
}

.owl-nav {
  position: absolute;
  top: 0;
  right: 10px;
}

.owl-nav button {
  background-color: #51a380;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in;
}
.owl-nav button span {
  display: none;
}
.owl-nav button:hover {
  background-color: #62b18f;
}

.owl-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23e6f1ed' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-left'%3E%3Cpolyline points='15 18 9 12 15 6'/%3E%3C/svg%3E ");
  margin-right: 6px;
}
.owl-prev:hover {
  background-position: center left 2px;
}

.owl-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24' fill='none' stroke='%23e6f1ed' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E ");
}
.owl-next:hover {
  background-position: center right 2px;
}

.owl-carousel {
  position: relative;
  overflow: hidden;
}

.owl-item {
  padding: 6px 10px;
}

.owl-stage-outer {
  width: 100%;
}

.hero-img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  /* border-radius: 4px; */
  margin-top: -50px;
}
.hero-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 /*  border-radius: 10px 10px 10px 10px; */
}

.owl-carousel {
  position: relative;
  width: 100%;
  height: 370px;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 8px;
  border-radius: 6px;
}

.upload-text-wrapper {
  position: absolute;
  top: 24px;
  left: 24px;
}
.upload-text-header {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
.upload-text-info {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  opacity: 0.8;
}
.upload-text-info span {
  border-left: 1px solid #fff;
  padding-left: 4px;
}

.img-preview {
  flex: 1;
}

.video-box-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 4px 0px rgba(209, 209, 209, 0.4);
  margin-right: 10px;
}
.video-box-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-description-wrapper {
  background-color: #fff;
  padding: 8px;
  position: relative;
}
.video-description-wrapper p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-description-header {
  font-weight: 500;
  margin: 16px 0 4px 0;
  font-size: 14px;
}
.video-description-subheader {
  color: #bebfbf;
  margin: 0;
  font-size: 12px;
}
.video-description-info {
  font-size: 12px;
  margin: 4px 0;
}
.video-description-info span {
  border-left: 1px solid #cdcdcd;
  padding-left: 4px;
}

.btn-play {
  position: absolute;
  top: -16px;
  right: 8px;
  background-color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2311a074' stroke='%2311a074' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-play'%3E%3Cpath d='M5 3l14 9-14 9V3z' /%3E%3C/svg%3E");
  box-shadow: 0px 2px 4px 2px rgba(209, 209, 209, 0.4);
}

.more-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-links {
    display: none;
  }

  .more-button {
    display: block;
  }

  .action-buttons-wrapper {
    display: none;
  }
}
#owl-slider-1 .hero-img-wrapper img {
  display: block;
  width: 100%;
  border-radius: 6px;
}

.owl-stage {
  height: 250px;
  display: flex;
}

.diary-title-name{
	font-size: 20pt;
}

.contextmenu {
  display: none;
  position: absolute;
  width: 200px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border-radius: 5px;
  list-style: none;
  box-shadow:
    0 15px 35px rgba(50,50,90,0.1),
    0 5px 15px rgba(0,0,0,0.07);
  overflow: hidden;
  z-index: 999999;
}

.contextmenu li {
  border-left: 3px solid transparent;
  transition: ease .2s;
}

.contextmenu li a {
  display: block;
  padding: 10px;
  color: #B0BEC5;
  text-decoration: none;
  transition: ease .2s;
}

.contextmenu li:hover {
  background: #bebebe;
  border-left: 3px solid #707070;
}

.contextmenu li:hover a {
  color: #FFFFFF;
}