@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
.login_btn_a a{
  text-align: center;
  margin-left: 45px;
  margin-bottom: 45px;
  text-decoration: none;
  font-size: 25px;
  color: #FFDE59;
  display: block;
  transition: 0.3s;
  font-family: 'GangwonEdu_OTFBoldA';
  font-size: 33px;
  width: 200px; 
  margin-top: 50px;
}

.login_btn_a a:hover{
	color: #fffaf4;	
}

.after_login_box{
  text-align: center;
  margin-left: 45px;
  margin-bottom: 45px;
  font-size: 25px;
  color: #FFDE59;
  display: block;
  transition: 0.3s;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  width: 200px; 
}

#logout_btn{
    transition: 0.3s;
  	width: 90px;
	height: 30px;
	background-color: #FFDE59;
	font-family: 'GangwonEdu_OTFBoldA';
	font-size: 15pt;
	color:#6667AB;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	margin: 20px 105px 0px 105px;
	padding-top: 5px;
}


#content_login{
	position: relative;
	width: 80%;
	height: 600px;
	margin: 0 auto;
}

#login_page_box{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 10%;
	left: 50%;
	margin-left: -250px;
}

#login_box{
	position: absolute;
	border: 3px solid #6667AB;
	border-radius: 10px;
	width: 400px;
	height: 350px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	text-align: center;
}

.login_id{
	position: relative;
	width: 200px;
	height: 50px;
	margin: 5px auto;	
}

.login_id input{
	position: absolute;
	width: 190px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -90px;
	font-size: 10pt;
	padding: 10px;
}

.login_pw{
	position: relative;
	width: 200px;
	height: 50px;
	margin: 5px auto;	
	text-align: center;
}

.login_pw input{
	position: absolute;
	width: 190px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -90px;
	font-size: 10pt;
	padding: 10px;
}

.login_btn_box{
	width: 150px;
	height: 40px;
	margin: 20px auto;
}

.login_btn_box button{
	width: 100%;
	height: 100%;
	font-size: 12pt;
	font-weight: 600;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background-color: #6667AB;
	color: white;
	cursor: pointer;
	border: none;
}

.join_btn{
	width: 80%;
	height: 30px;
	text-align: right;
	margin: 10px auto;
}

.join_btn button{
	width: 100px;
	height: 100%;
	font-size: 11pt;
	font-weight:600;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	background-color: transparent;
	color: #6667AB;
	border: none;
	cursor: pointer;
}

.social_login_box{
	position: absolute;
	width: 300px;
	height: 80px;
	top: 65%;
	left: 50%;
	margin-left: -150px;
	
}

.social_login_info{
	margin-bottom: 10px;
	padding-top: 10px;
	border-top: 3px dashed #6667AB;
}

.social_login_info span{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 10pt;
	font-weight: 600;
}

.social_login_box a{
	background-color: transparent;
	cursor: pointer;
}

.socialLoginImg{
	width: 50px;
	margin: 5px;
}


.missing_user_box{
	position: absolute;
	bottom:13%;
	width: 90%;
	text-align: right;
	margin: 0 auto;
}

.missing_user_a{
	
	display: inline-block;
	border-bottom: 2px solid #6667AB;
	margin-left: 5px;
}

.missing_user_a a{
	text-decoration: none;
	color: #6667AB;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 10pt;
}

