<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.main.sm.CategoryMapper">

	<insert id="categoryUserInsert" parameterType="com.project.main.js.User">
		insert into CATEGORY values(#{userID}, 111, 222, 333)
	</insert>
	
	<insert id="addCategory" parameterType="com.project.main.sm.Category">
		ALTER TABLE CATEGORY ADD category5 VARCHAR2(20 char);
	</insert>

</mapper>