<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.main.mj_write.CommentMapper">

	<!-- 코멘트 관련  -->
	
	<select id="showAllComments" resultType="com.project.main.mj_write.Comment">
		select * from commentTable where postNum = #{postNum}
	</select>
	
	
</mapper>